<component name="libraryTable">
  <library name="SpringHibernate">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/antlr-2.7.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/asm-3.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/asm-attrs-1.5.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/backport-util-concurrent.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/dom4j-1.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/ehcache-2.2.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/flex-bootstrap.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/flex-messaging-common.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/flex-messaging-core.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/flex-messaging-data-req.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/flex-messaging-opt.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/hibernate-commons-annotations-4.0.3.final.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/hibernate-core-4.2.4.final.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/jackson-all-1.9.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/javassist-4.2.3.GA.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/javax.jms-api-2.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/javax.jms.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/javax.persistence.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/jboss-logging-3.1.1.GA.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/jta-1.3.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/jtds-1.2.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/jts-1.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/mysql-connector-java-5.1.23-bin.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/servlet-api.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-aop-4.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-aspects-4.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-beans-4.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-context-4.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-core-4.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-expression-4.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-flex-core-1.5.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-jdbc-4.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-jms.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-orm-4.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-tx-4.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-web-4.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/sqljdbc4-2.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/xbean-spring-3.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/commons-collections-2.1.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/commons-httpclient-3.1-source.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/hibernate-core-4.2.4.final-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-aop-4.2.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-aspects-4.2.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-beans-4.2.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-context-4.2.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-core-4.2.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-expression-4.2.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-jdbc-4.2.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-orm-4.2.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-tx-4.2.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/spring-web-4.2.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/cglib-2.2.2-sources.jar!/src/test" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringHibernate/cglib-2.2.2-sources.jar!/src/proxy" />
    </SOURCES>
  </library>
</component>