<component name="libraryTable">
  <library name="SpringJersy">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/hk2-api-2.4.0-b31.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/hk2-locator-2.4.0-b31.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/hk2-utils-2.4.0-b31.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/javax.annotation-api-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/javax.inject-2.4.0-b31.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/javax.ws.rs-api-2.0.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/jersey-client.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/jersey-common.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/jersey-container-servlet-core.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/jersey-container-servlet.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/jersey-guava-2.22.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/jersey-media-jaxb.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/jersey-server.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/jersey-spring3-2.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/spring-bridge-2.2.0-b14.jar!/" />
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/validation-api-1.1.0.Final.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/dependecies/SpringJersy/jersey-spring3-2.9-sources.jar!/" />
    </SOURCES>
  </library>
</component>